<html layout:decorate="dashboard" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="main_content">

    <div class="card">
        <div class="header">
            <h2>
                Bank Details <small>Description text here...</small>
            </h2>
            <div class="pull-right">
                <a th:href="@{/admin/banks/create}" class="btn btn-primary">Create New</a>
                <a th:href="@{/admin/banks/}+${bank?.id}+@{/update}" class="btn btn-primary">Edit</a>
                <a th:href="@{/admin/banks}" class="btn btn-primary">All Banks</a>
            </div>
        </div>

        <div class="body">
            Banks(<span th:text="${bank?.id}"></span>) details goes here
        </div>

    </div>

</div>
</html>